@import "tailwindcss";

:root {
  --color-primary: #E53935;
  --color-background: #FDF6E0;
  --color-button: #FFDF9B;
  --color-mygray: #404040;
  --color-yellow: #EAB308;
  --color-green: #22C55E;
}

:root {
  --main-bg-color: #404040;
  --main-text-color: #ffffff;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}
